---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/secret_space_id/environments/master/entries?sys.id=6pG1BlIIaL69l0YWcDI4I5
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.15.2; platform ruby/2.6.5; os macOS/19;
      Authorization:
      - Bearer secret_access_token
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"1295077939061655380"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 15aa3b34-d654-4e37-9010-47122a4796e5
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "secret_space_id"
                  }
                },
                "id": "6pG1BlIIaL69l0YWcDI4I5",
                "type": "Entry",
                "createdAt": "2020-04-03T17:21:04.958Z",
                "updatedAt": "2020-04-03T17:21:04.958Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "page"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "title": "Homepage"
              }
            }
          ]
        }
  recorded_at: Fri, 03 Apr 2020 17:24:24 GMT
recorded_with: VCR 5.1.0
